@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.dispnone {
  display: none !important;
}

.opacity {
  filter: opacity(0.5);
}

html {
  position: relative;
  color: #fff;
  height: 100%;
  overflow: hidden;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

body {
  position: relative;
  background: url('../assets/home.png') no-repeat;
  font-family: Roboto;
  background-size: cover;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0 5px 40px #000;
  text-align: center;
  color: #fff;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

section {
  position: relative;
  min-height: 100vh;
  height: 100%;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.container {
  padding: 20px 40px 40px 40px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.ancient-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
}

.ancient-cards-container img {
  cursor: pointer;
  box-shadow: 0px 5px 50px -20px rgb(0, 0, 0);
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.ancient-card:hover {
  box-shadow: 0px 5px 50px -10px rgb(250, 207, 66);
}

.ancient-card.active {
  box-shadow: 0px 5px 50px -10px rgb(250, 66, 66);
}

.button {
  cursor: pointer;
  padding: 15px 40px;
  font-size: 20px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button:hover {
  background: rgb(250 207 66 / 28%);
  box-shadow: 0 0 38px 0px rgb(250 207 66);
}


.button-up {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.button-down {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.difficulty-level {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  border: 1px solid #fff;
  max-width: 250px;
  width: 100%;
}

.deck-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.card-map {
  display: flex;
  flex-direction: column;
  position: relative;
}

.first-stage p {
  margin-top: 0;
}

.card-map>div:not(:last-child) {
  margin-bottom: 20px;
}

.card-map p {
  text-align: center;
}

.dots-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  padding: 25px 32px;
  font-size: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dot:not(:last-child) {
  margin-right: 20px;
}

.dot-green {
  background: #486d48;
}

.dot-brown {
  background: #8b513b;
}

.dot-blue {
  background: #5260db;
}

.difficulty-level.active {
  box-shadow: 0px 5px 50px -10px rgb(250, 66, 66);
  background: rgba(250, 66, 66, 0.301);
}

.deck-img {
  box-shadow: 0px 5px 50px -20px rgb(0 0 0);
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.deck-img:hover {
  background: rgb(250 207 66 / 28%);
  box-shadow: 0 0 38px 0px rgb(250 207 66);
}

.info {
  position: absolute;
  background: #100202;
  padding: 20px 50px;
  box-shadow: 0px 5px 50px -10px rgb(250, 66, 66);
  font-size: 20px;
  font-weight: 700;
  left: 0;
  right: 0;
  top: 3px;
  bottom: 15px;
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.info p {
  margin: auto;
}

/* .info2 {
  display: flex;
  position: absolute;
  position: fixed;
  background: #5b4b4b;
  padding: 20px 50px;
  box-shadow: 0px 5px 50px -10px rgb(50, 11, 11);
  font-size: 20px;
  font-weight: 700;
  left: 50%;
  bottom: 20%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
}

.info2 .close {
  position: absolute;
  cursor: pointer;
  padding: 5px 10px;
  top: 10px;
  right: 10px;
} */